on:
  workflow_call:
    inputs:
      region:
        required: true
        type: string
      environment:
        required: true
        type: string
      container-registry-namespace:
        required: false
        type: string
      workload-name:
        required: true
        type: string
      workload-type:
        required: true
        type: string
      workload-type-ref:
        required: false
        default: main
        type: string

jobs:
  build:
    runs-on: ubuntu-24.04
    permissions:
      contents: write
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 10
          fetch-tags: true
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '22'
      - name: Tag
        uses: martoc/action-tag@v0
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
          role-session-name: github-actions
          aws-region: ${{ inputs.region }}
      - name: Init Build
        run: npm run init
      - name: Build
        run: npm run build
      - name: Build Container
        uses: martoc/action-container-build@v0
        env:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
      - name: Release on GitHub
        uses: martoc/action-release@v0
      - name: Set up shared environment variables
        run: |
          set | grep TAG_ > shared-envars.sh
          cat shared-envars.sh
      - uses: actions/upload-artifact@v4
        with:
          name: shared-envars
          path: shared-envars.sh
  deploy:
    needs: build
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/download-artifact@v6
        with:
          name: shared-envars
          path: .
      - name: Setup environment variables
        run: |
          cat shared-envars.sh >> "$GITHUB_ENV"
          cat shared-envars.sh
          source shared-envars.sh
      - name: Checkout
        uses: actions/checkout@v4
      - name: Checkout Cloudformation Template
        uses: actions/checkout@v4
        with:
          repository: martoc/cloudformation-${{ inputs.workload-type }}
          path: ./cloudformation-template
          ref: ${{ inputs.workload-type-ref }}
          token: ${{ secrets.PERSONAL_GITHUB_TOKEN }}
      - name: Cloudformation Customisations
        run: |
          if [ -f "cloudformation-template/src/scripts/customise.sh" ]; then
              ./cloudformation-template/src/scripts/customise.sh
          else
              echo "./cloudformation-template/src/scripts/customise.sh not found"
          fi
          cat cloudformation-template/src/cloudformation/main.yaml
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
          role-session-name: github-actions
          aws-region: ${{ inputs.region }}
      - uses: martoc/action-deploy@v0
        with:
          region: ${{ inputs.region }}
          environment: ${{ inputs.environment }}
          container-registry-namespace: ${{ inputs.container-registry-namespace }}
          workload-name: ${{ inputs.workload-name }}
          workload-type: ${{ inputs.workload-type }}

